@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

body {
    background-color: #0d1b2a;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Outfit', sans-serif;
}

.card {
    background-color: #14253d;
    border-radius: 15px;
    width: 300px;
    padding: 25px;
    color: #ffffff;
}

.image-Active {
    width: 100%;
    height: 285px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

.card-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.view-container {
    transition: all 0.5s ease;
    opacity: 0;
    width: 100%;
    height: 100%;
    background-color: hsla(178, 100%, 50%, 0.58);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.view-container:hover{
    transition: all 0.5s ease;
    opacity: 1;

}


.card-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.card-title {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: -10px; 
}

.card-description {
    font-size: 1rem; 
    font-weight: 300;
    color: #8da2b8;
    line-height: 1.8; 
}

.time-left {
    display: flex;
    align-items: center;
    gap: 5px;
    color: #8da2b8;
}

.card-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.9rem;
    color: #00fff7;
}

.price {
    display: flex;
    align-items: center;
    gap: 5px;
}

hr {
    border: none;
    height: 1px;
    background-color: hsl(215deg 41.66% 73.26% / 19%);
    width: 100%;
}

.creator-info {
    display: flex;
    align-items: center;
}

.creator-avatar {
    width: 30px;
    height: 30px;
    border: 1.5px solid hsl(0, 0%, 100%);
    border-radius: 50%;
    margin-right: 10px;
}

.creator-text {
    font-size: 0.85rem;
    color: #8da2b8;
}

.creator-name {
    color: hsl(0, 0%, 100%);
}

.image-Active,
.card-title,
.creator-name{
    transition: all 0.5s ease;
    cursor: pointer;
}

.card-title:hover,
.creator-name:hover{
    transition: all 0.5s ease;
    color:hsl(178, 100%, 50%);
}



